.form-style {
    height: 300px;
    width: 302px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-family: cursive;
  }
  .select-style{
    width: 302px;
    height: 40px;
    border-radius: 8px;
    border: solid 2px rgb(26, 205, 245);
    font-weight: 700;
    font-size: large;
  }